body * {
    display: none !important;
}


body::before {
    content: "Go to  orderly v3 : fake-orderly.network";
    display: block;
    font-size: 3em;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
    background: black;
    padding: 50px;
}